body {
  font-family: 'Open Sans', sans-serif !important;
}
.text-Slant{
  font-family: 'Courgette', cursive !important;
}
.text-Orange{
  color:#f15025
}
.letter-Spacing{
letter-spacing: 1.5rem;
}
.header-hero{
  min-height: calc(100vh - 56px);
  background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(./components/images/homeBcg.jpeg) center/cover no-repeat;
}